body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.book-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px auto;
    max-width: 70%;
  
  }
  
  .book {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  .book img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .book h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .book p {
    font-size: 14px;
    color: #888;
  }
  

  .hidden {
    display: none;
  }
  





















