#google_translate_element {
    width: 12px;
    height: 12px;
    margin-left: 5px;
    background-image: url("../img/traducir.png");
    background-size: contain;
    transition: transform 0.3s;
    float: right;
  }

  .traducir{
   width: 10%;
  }

  #google_translate_element select{
    border: none;
    border-radius:3px;
    padding:6px 8px
  }

  .goog-logo-link{
    display:none !important;
   }

 .goog-te-gadget{
  color:transparent!important;
  }

  .goog-te-banner{
    display:none !important;
    }

    #goog-gt-tt, .goog-te-balloon-frame
{
display: none !important;
}
.goog-text-highlight 
{ 
background: none !important;
box-shadow: none !important;
}